version: '3.6'
services:
  dev:
    build:
      context: ./
      dockerfile: .devcontainer/Dockerfile
      args:
        buildno: 1
        VARIANT: "3.7"
        PYTHON_PACKAGE: "python3.7  python3-pip python3-venv"
        ENV_FILE: "environment.dev.yml"
    volumes:
      - ./:/workspace
    # deploy:
    #   resources:
    #     limits:
    #       cpus: '4'
    #       memory: 4G
    #     reservations:
    #       cpus: '3'
    #       memory: 3G
